{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": ["**/normalize.css"],
  "plugins": [
		"@stylistic/stylelint-plugin"
	],

  "rules": {
    "declaration-no-important": true,
    "@stylistic/indentation": [2, {
      "ignore": ["inside-parens"]
    }],
    "number-max-precision": [3, {
      "ignoreProperties": ["size-adjust"]
    }]
  }
}
