.cta__wrapper {
  padding-top: 3em;
  padding-bottom: 3.75em;
}

.cta__lead {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.cta__inner {
  flex-shrink: 0;
  flex-basis: auto;
  order: 1;
  display: flex;
  flex-direction: column;

  max-width: 100%;
  margin-bottom: 0.625em;
  padding: 0 5.33%;
}

.cta__contents {
  display: contents;
}

.cta__text {
  flex-shrink: 0;
  flex-basis: auto;

  max-width: 100%;
  margin-bottom: 1.5rem;

  font-family: "Merriweather", "Merriweather fallback", "Georgia", serif;
  font-size: 1.75em;
  line-height: 1.35;
  text-transform: uppercase;
}

.cta__text b {
  font-weight: 700;
  color: var(--accent-color, #f54932);
}

.cta__text--lead {
  order: 3;

  padding: 0 5.33%;
}

.cta__text--inner:nth-last-child(2) {
  order: 1;
}

.cta__text--inner:last-child {
  order: 3;
}

.cta__illustration {
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;

  width: 100%;
  max-width: 32em;
  margin: 0 auto;
  margin-bottom: 1.563em;
}

.cta__illustration--lead {
  order: 2;
}

.cta__illustration--inner {
  order: 2;

  border-radius: 70%;

  overflow: hidden;
}

.cta__image {
  display: block;
  width: 100%;
  height: auto;
}

.cta__illustration--lead .cta__image {
  margin-top: -0.813em;
  margin-bottom: -0.313em;

  aspect-ratio: 25 / 28;
}

.cta__illustration--inner .cta__image {
  aspect-ratio: 335 / 213;
}

.cta__list {
  margin: 0;
}

.cta__address {
  margin: 0;
  padding: 0 5.33%;
  padding-bottom: 0.125rem;

  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.2;
  color: var(--special-accent-color, #3057a2);
}

@media (min-width: 78rem) {
  .cta {
    overflow: hidden;
  }

  .cta__wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 5em;
    padding-top: 5em;
  }

  .cta__header {
    flex-shrink: 0;
    flex-basis: auto;

    max-width: 100%;
  }

  .cta__description {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: flex-end;

    width: 58.333%;
    min-height: 23.875em;
    margin-left: auto;
    padding: 0 0.625em;
  }

  .cta__lead {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .cta__inner {
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 4em;
    padding: 0 0.625em;
  }

  .cta__contents {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;

    display: block;
    padding: 1.75em 0;
    width: 62.52%;
  }

  .cta__text {
    max-width: none;
    margin-bottom: 0;

    font-size: 2.25em;
  }

  .cta__text--lead {
    width: 58.333%;
    padding: 0 0.625rem;
  }

  .cta__illustration {
    align-self: flex-start;

    max-width: none;
    margin: 0;
  }

  .cta__illustration--lead {
    position: relative;

    width: 41.666%;
    margin-right: auto;
  }

  .cta__illustration--inner {
    flex-shrink: 0;
    flex-basis: auto;

    width: 32.242%;
    margin-left: auto;
  }

  .cta__illustration--lead .cta__image {
    position: absolute;
    top: 0;
    right: 0.625em;
    left: 0.625em;

    width: 96.13%;
    max-width: 96.13%;
    margin: 0;

    aspect-ratio: 530 / 609;
  }

  .cta__illustration--inner .cta__image {
    aspect-ratio: 197 / 125;
  }

  .cta__address {
    padding: 0.063rem 0;

    font-size: 1.25em;
  }
}

@media (min-width: 85.375rem) {
  .cta__illustration--lead .cta__image {
    top: -2.938em;
    right: 0.375em;
    left: auto;

    width: 102.316%;
    max-width: 102.316%;
  }
}
