@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/merriweather-regular-400.woff2") format("woff2"),
    url("../fonts/merriweather-regular-400.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/merriweather-bold-700.woff2") format("woff2"),
    url("../fonts/merriweather-bold-700.woff") format("woff");
}

@font-face {
  font-family: "Merriweather fallback";
  size-adjust: 122.8%;
  ascent-override: 76%;
  src: local("Times New Roman");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/golos-text-regular-400.woff2") format("woff2"),
    url("../fonts/golos-text-regular-400.woff") format("woff");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/golos-text-medium-500.woff2") format("woff2"),
    url("../fonts/golos-text-medium-500.woff") format("woff");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/golos-text-semibold-600.woff2") format("woff2"),
    url("../fonts/golos-text-semibold-600.woff") format("woff");
}
